.error{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error h1{
    font-size: 120px;
}

.error a{
    text-decoration: none;
    background-color: #126feb;
    color: #fff;
    padding: 10px;
    margin-top: 14px;
}