.filme{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme h1{
    margin: 14px 0;
}

.filme img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340%;
    object-fit: cover;
}

.filme h2{
    margin-top: 14px;
}

.filme span{
    margin: 8px 0;
}

.buton button{
    margin-right: 12px;
    margin-left: 14px;
    margin-top: 14px;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
}

.buton button:hover{
    background-color: red;
    color: #fff;
}

.buton a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.buton a:hover{
    color: #fff;
}
